---
import { getEntry } from "astro:content";
const Data = await getEntry("services", "services");
const data = Data.data.individual_page.data_architecture;
---

<style>
  li {
    color: white;
  }
  .light-text {
    color: rgba(255, 255, 255, 70%);
  }
  .image-container-right{
    display: flex;
    justify-content: end;
  }
  .images{
    height: 100%;
  }
</style>

<section class="container  my-md-2 my-lg-3 my-xl-4 my-xxl-5">
  <!-- Item 1-->
  <div class="row align-items-center py-4 py-xl-5 my-2">
    <div class="col-md-6 offset-xl-1 order-md-2 pb-2 mb-4 mb-md-0">
      <div class="image-container-right">
        <img
          class="rounded-5 images"
          src="/assets/images/services/big-data-architecture/patterns.svg"
          alt="Image"
        />
      </div>
    </div>

    <div class="col-md-6 col-xl-5 order-md-1">
      <div class="pe-md-4 pe-xl-0">
        <h2 class="h1 pb-2 pb-lg-3" style="color:white">
          {data.heading}
        </h2>
        <p
          class="pb-2 pb-lg-0 mb-3 mb-lg-3"
          style="color:rgba(255, 255, 255, 0.7)"
        >
          {data.text1}
        </p>
        <p
          class="pb-2 pb-lg-0 mb-3 mb-lg-3"
          style="color:rgba(255, 255, 255, 0.7)"
        >
          {data.text2}
        </p>

      </div>
    </div>
  </div>
</section>
