---
interface Item {
  img: string;
  alt?: string;
  heading: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<section class="container py-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
  <h2 class="h1 text-center pt-1 pt-sm-3 pt-lg-4 pb-3 mb-3 mb-lg-5">Our Expertise</h2>
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4 justify-content-center">
    {items.map((item) => (
      <div class="col">
        <div class="expertise-card">
          <div class="expertise-card-glow"></div>
          <div class="expertise-card-body text-center">
            <img src={item.img} alt={item.alt || item.heading || "icon"} class="d-block mb-3 mx-auto" height="36" />
            <h3 class="h6 mb-0 text-primary fw-bold">{item.heading}</h3>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>