---
title: Digital Back Office
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">We deliver business efficency. </h2>
		<p class="subtext editable"> We design and build <strong> Custom Solutions</strong>  for Big Data Processing using open-source and cloud auto-scaling in cost effective manner. </p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Our work</h3>
			<p class="editable">We deliver complete range of solutions in data processing from conceptulization to delivery.</p>
			<p class="editable"><a href="{{ site.baseurl }}/services/">View Full range of services &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><!--a href="{{ site.baseurl }}{{ client.url }}"--><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/tech/hadoop.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/tech/airflow.png" width="300"></li>
			</ul>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/tech/cloud.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/tech/docker.png" width="300"></li>
			</ul>
		</div>
	</div>
</section>
