---
title: Digital Back Office
---

<section class="hero diagonal">
	<div class="hero-video-div">
	    <video id="hero_video" class="hero-video" preload autoplay loop muted>
	      <source id="mp4" src="{{ site.baseurl }}/videos/dbo_bg_video10.mp4" type="video/mp4" >
	    </video>
	</div>
	<div class="container">
		<h2 class="editable">We deliver business efficency. </h2>
		<p class="subtext editable"> We design and build <strong> Custom Solutions</strong>  for Big Data Processing using open-source and cloud auto-scaling in cost effective manner. </p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
		<h3 class="editable">Our Offerings</h3>
			<p class="editable">We deliver complete range of solutions in <b> Big Data </b> processing from conceptulization to delivery.
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_services/" class="btn"><strong>&#9998;</strong> Our Services</a></p>
		<ul class="image-grid">
			{% for service in site.services %}
				<li>
					<a href="{{ service.baseurl }}{{ service.url }}"--> 
						<img src="{% include relative-src.html src=service.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ service.name }}</div>
							<div class="position">{{ service.subtitle }}</div>
						</div>
					<!--/a-->
				</li>
			{% endfor %}
		</ul>
	</div>
</section>


<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/tech/hadoop.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/tech/airflow.png" width="300"></li>
			</ul>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/tech/cloud.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/tech/docker.png" width="300"></li>
			</ul>
		</div>
	</div>
</section>

