.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}
	&.diagonal-service {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);
		padding: 70px 0;
		text-align: justify;


		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.diagonal-small {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);
		padding: 70px 0;
		text-align: justify;


		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}


	&.diagonal-image {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);
		background: #EFCA08 url($pattern); 
		padding:25px 0;

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero {
		color: #30BABA;
		background: #111 url(/images/shoonye.png);
		text-align: left;
		margin-top: -100px;
		padding-top: 250px;

		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 3.5rem;
		}

		p {
			font-size: 1.8rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}

	&.alternate {
		/* background: #eee url($pattern2); */
		background: #fff;
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 0px solid #30BABA;
	background: #30BABA;
	text-decoration: none !important;
	font-weight: 500;

	&:hover {
		background: rgba(48, 186, 186, 0.5);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		font-weight: bold;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
		font-size: 1.2rem;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.hero-video{
	height:100%;
}

.hero-video-div{
	position: fixed;
	overflow: hidden; 
	top: 0; 
	width: 100%; 
	z-index: -1;
}


.patterned {
	background: #EFCA08 url($pattern); 
	/*background: linear-gradient(to top right, #74FFFF, #30baba), url($pattern); */
	 &,
      p {
               color: #fefefe;
       }
}

.patterned-yellow {
	background: #EFCA08;  
}


.patterned-black {
	background: #141414 url(/images/shoonye.png);  
}

/* tech stack images*/

.tech-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.tech-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.tech-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .tech-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .tech-column {
    flex: 100%;
    max-width: 100%;
  }
}


 /*! Image Gallery div style */
  .image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
  }

  .image-gallery-box {
      flex-basis: 25%;
      width: 100%;
      padding: 10px;
      margin: 2px;
  }

  .img-gallery {
	width: 100%;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
	  &:hover {
	    transform: scale(1.05);
	  }
  }

/* Cookie Consent */
 #cookie-notice {
    padding: 0.5rem 1rem;
     display: none;
     text-align: center;
     position: fixed;
     bottom: 0;
     width: calc(100% - 2rem);
     background: rgba(132, 132, 132, 0.8);
     color: rgba(255,255,255,0.8);
}
 #cookie-notice a {
    display: inline-block;
     cursor: pointer;
     margin-left: 0.5rem;
}
 @media (max-width: 767px) {
     #cookie-notice span {
        display: block;
         padding-top: 3px;
         margin-bottom: 1rem;
    }
     #cookie-notice a {
        position: relative;
         bottom: 4px;
    }
}
