@media (max-width: 768px) {
    .container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.page-wrapper {
    background-image: url("/assets/images/background-pattern.png");
}

input[type="checkbox"]:checked {
    background-color: rgba(47, 183, 184, 1);
}
.bg-image {
    background-image: url(/assets/images/background-pattern.png);
    background-repeat: repeat !important;
}