@media (max-width: 768px) {
    .container {
        padding-left: var(--space-4) !important;
        padding-right: var(--space-4) !important;
    }
}

.page-wrapper {
    background-image: url("/assets/images/background_pattern.png");
}
