@media (min-width: 1348px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1280px !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: var(--space-4) !important;
        padding-right: var(--space-4) !important;
    }
}

