@media (max-width: 768px) {
    .container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.page-wrapper {
    background-image: url("/assets/images/background_pattern.png");
}
