* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arimo", sans-serif;
}

.cm__body{
    background-color: black !important;
    width: 100%;
    max-width: 100% !important;
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    padding: 0 !important;
}
.cm__texts{
    padding: 0 !important;
}

.cm__title{
    color: white !important;
}