* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "arimo";
    src: url("/assets/fonts/Arimo/static/Arimo-Regular.ttf");
}

@font-face {
    font-family: "archivo";
    src: url("/assets/fonts/Archivo/Archivo-Regular.ttf");
}