---
import Layout from "../layouts/Layout.astro";
import VideoLayout from "../layouts/VideoLayout.astro";
import Values from "../components/about-us/Values.astro";
import Contact from "../components/common/Contact.astro";
import Benefit from "../components/about-us/Benefit.astro";
import Hero from "../components/about-us/Hero.astro";
import Approach from '../components/about-us/Approach.astro'
import Mission from '../components/about-us/Mission.astro'

// import bg_video from "/assets/videos/about_us_2.mp4";
---

<style>
  .page-wrapper {
    background-image: url("/assets/images/background-pattern.png");
  }
</style>

<Layout>
  <main class="page-wrapper">
    <VideoLayout src="/assets/videos/about_us_2.mp4">
      <Hero />
    </VideoLayout>

    <Mission />
    <Values />
    <Benefit />
    <Approach />
    <Contact />
  </main>
</Layout>