---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/common/Navbar.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
import Card from "../components/blog/Card.astro";
---

<style>
  main {
    background-color: black;
  }
  cards {
    border: solid 20px red;
  }
  * {
    font-family: Arimo;
  }
  a {
    color: white;
  }
  .wrapper{
    padding-top: 5rem !important;
  }
  .wide{
    width: fit-content !important;
  }

  @media  (max-width: 992px) {
    .forum{
      max-width: 99% !important;
      position: relative !important;
      left: 3rem; top: 0rem !important;
    }
  }
  
</style>

<Layout>
  <main
    class="page-wrapper wrapper"
    style="background-image: url(/assets/images/background_pattern.png);"
  >
    <Navbar />
    <div class="container pt-3 pb-lg-5 pb-md-4 pb-2 my-5">
      <div class="row mb-md-2 mb-xl-4">
        <!-- Blog posts -->
        <div class="col-lg-9 pe-lg-4 pe-xl-5">
          <h1 class="pb-3 pb-lg-4 text-white">Blog list with sidebar</h1>

          <!-- Post -->
          {
            allPosts.map((post) => (
              <Card
                url={post.url}
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                image={post.frontmatter.image}
              />
            ))
          }
          <!-- Pagination -->
          <div class="row gy-3 align-items-center mt-lg-5 pt-2 pt-md-4 pt-lg-0">
            <div class="col col-md-4 col-6 order-md-1 order-1">
              <div class="d-flex align-items-center">
                <span class="text-body-secondary fs-sm">Show</span>
                <select class="form-select form-select-flush w-auto">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="25">25</option>
                </select>
              </div>
            </div>
            <div class="col col-md-4 col-12 order-md-2 order-3 text-center">
              <button class="btn btn-primary w-md-auto w-100" type="button" style="border-radius: 7px;"
                >Load more posts</button
              >
            </div>
            <div class="col col-md-4 col-6 order-md-3 order-2">
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm justify-content-end">
                  <li class="page-item active" aria-current="page">
                    <span class="page-link"
                      >1<span class="visually-hidden">(current)</span></span
                    >
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!-- Sidebar (offcanvas on sreens < 992px) -->
        <aside class="col-lg-3">
          <div class="offcanvas-lg offcanvas-end" id="sidebarBlog" style="height: 100%;">
            <div class="offcanvas-header">
              <h4 class="offcanvas-title">Sidebar</h4>
              <button
                class="btn-close ms-auto"
                type="button"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebarBlog"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style=" height:100%; ">
              <!-- Search box -->
              <div class="position-relative mb-4 mb-lg-5">
                <i
                  class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3"
                ></i>
                <input
                  class="form-control ps-5"
                  type="search"
                  placeholder="Enter keyword"
                />
              </div>

              <!-- Category links -->
              <div
                class="col contact-div offset-xxl-1 pt-sm-3 sticky-top forum"
                style="margin-left: -50px; top:5rem;  z-index:5;"
              >
                <!-- Contact form -->
                <div
                  id="sticky-component"
                  class="card contact-form
                border-0
                py-4
                px-xxl-4"
                  style="background-color: #30BABA;border-radius: 15px;"
                >
                  <form class="card-body" data-bs-theme="dark">
                    <h2
                      class="h3 card-title text-white text-center pb-2 pb-xxl-3"
                    >
                      30 mins FREE Consultation
                    </h2>
                    <div class="mb-3">
                      <label class="form-label fs-base" for="name">
                        Your Name
                      </label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        placeholder="John Doe"
                        required
                        id="name"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label fs-base" for="company">
                        Company Name
                      </label>
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        placeholder="Your company name"
                        required
                        id="company"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label fs-base" for="email">
                        Email address
                      </label>
                      <input
                        class="form-control form-control-sm"
                        type="email"
                        placeholder="Email address"
                        required
                        id="email"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="date-time-picker"
                        >Date and time</label
                      >
                      <div class="position-relative">
                        <input
                          class="form-control form-control-sm date-picker pe-5"
                          type="text"
                          placeholder="Choose date/time"
                          data-datepicker-options='{"enableTime": true, "altInput": true, "altFormat": "F j, Y H:i", "dateFormat": "Y-m-d H:i"}'
                          id="date-time-picker"
                        />
                        <i
                          class="ai-calendar position-absolute top-50 end-0 translate-middle-y fs-lg text-white opacity-80 me-3"
                        ></i>
                      </div>
                    </div>
                    <div
                      class="d-flex flex-column flex-sm-row flex-lg-column flex-xxl-row align-items-center justify-content-center justify-content-lg-start pt-3 pt-xxl-4"
                    >
                      <button
                        class="btn book-btn w-100 w-sm-auto w-lg-100 w-xxl-200 me-sm-3 me-lg-0 me-xxl-3"
                        style=" background-color:white; color:#30BABA"
                        type="submit">Book now</button
                      >
                    </div>
                  </form>
                </div>
              </div>

              <!-- Featured posts widget -->

              <!-- Social buttons -->
            </div>
          </div>
        </aside>
      </div>
    </div>

    <!-- Sidebar toggle button -->
    <button
      class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebarBlog"
    >
      <i class="ai-layout-column me-2"></i>
      Sidebar
    </button>
  </main>
</Layout>
