---
import Layout from "../layouts/Layout.astro";
import VideoLayout from "../layouts/VideoLayout.astro";
import Hero from "../components/home/Hero.astro";
import Partners from "../components/home/Partners.astro";
import AISolutions from "../components/home/AISolutions.astro";
import About from "../components/home/About.astro";
import Features from "../components/home/Features.astro";
import Services from "../components/common/Services.astro";
import TechAndTestimonials from "../components/home/TechAndTestimonials.astro";
import Contact from "../components/common/Contact.astro";
import RoadMap from "../components/home/RoadMap.astro";

import '../styles/container.css'

---

<Layout>
	<main class="page-wrapper" data-pagefind-ignore>
		<VideoLayout src="/assets/videos/dbo-bg-video-home.mp4">
			<Hero />
		</VideoLayout>
		<Partners />
		<AISolutions />
		<About />
		<RoadMap />
		<Features />
		<Services />
		<TechAndTestimonials />
		<Contact />
	</main>
</Layout>
