---

---

<section class="bg-secondary pt-5 pb-4">
    <div class="container py-lg-2 py-xl-4 py-xxl-5">
        <div class="row mt-1 pt-sm-2 pt-md-3 pt-lg-4">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h2 class="h1">Benefits of working with us</h2>
                <p class="pb-1 pb-md-0 mb-4 mb-md-5">
                    Morbi et massa fames ac scelerisque sit commodo dignissim
                    faucibus vel quisque proin lectus.
                </p>
                <h3 class="mb-4">Send your request!</h3>

                <!-- Contact form -->
                <form class="needs-validation row g-4" novalidate>
                    <div class="col-lg-10">
                        <label class="form-label fs-base" for="name">Name</label
                        >
                        <input
                            class="form-control form-control-lg"
                            type="text"
                            placeholder="Your name"
                            required
                            id="name"
                        />
                        <div class="invalid-feedback">
                            Please enter your name!
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <label class="form-label fs-base" for="email"
                            >Email</label
                        >
                        <input
                            class="form-control form-control-lg"
                            type="email"
                            placeholder="Email address"
                            required
                            id="email"
                        />
                        <div class="invalid-feedback">
                            Please provide a valid email address!
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <label class="form-label fs-base" for="message"
                            >Message</label
                        >
                        <textarea
                            class="form-control form-control-lg"
                            placeholder="Your message"
                            rows="4"
                            required
                            id="message"></textarea>
                        <div class="invalid-feedback">
                            Please write your message!
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <button
                            class="btn btn-lg btn-dark rounded-pill mt-2"
                            type="submit">Send request</button
                        >
                    </div>
                </form>
            </div>

            <!-- Benefits -->
            <div class="col-lg-7 col-xl-6 offset-xl-1">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col">
                        <!-- Card -->
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <svg
                                    class="d-block mb-3"
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        class="text-warning"
                                        d="M31.5412 14.6389C30.9843 23.6874 23.7303 30.927 14.6641 31.4828V35.9999H36.0671V14.6389H31.5412Z"
                                        fill="currentColor"></path>
                                    <path
                                        class="text-primary"
                                        d="M13.5469 27.0373C21.0277 27.0373 27.0922 20.9848 27.0922 13.5186H13.5469V27.0373Z"
                                        fill="currentColor"></path>
                                    <path
                                        class="text-warning"
                                        d="M26.3276 9.03734C24.475 3.77395 19.4522 0 13.5453 0C6.06443 0 0 6.0525 0 13.5187C0 19.4139 3.78139 24.4269 9.05514 26.2758V9.03734H26.3276Z"
                                        fill="currentColor"></path>
                                </svg>
                                <h3 class="h4" style="max-width: 180px;">
                                    Time zones ain't no thing
                                </h3>
                                <p class="card-text fs-sm">
                                    Pharetra in morbi quis is massa maecenas
                                    arcu vulputate pulvinar elit non nullage a,
                                    duis tortor mi massa ipsum in eu eu eget
                                    libero.
                                </p>
                            </div>
                        </div>

                        <!-- Card -->
                        <div
                            class="card border-0 bg-primary"
                            data-bs-theme="dark"
                        >
                            <div class="card-body">
                                <svg
                                    class="d-block mb-3"
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M22.7496 11.4756C25.3743 8.85089 25.3743 4.59539 22.7496 1.97068C20.1249 -0.654032 15.8694 -0.654033 13.2447 1.97068C10.6199 4.59539 10.6199 8.85089 13.2447 11.4756C15.8694 14.1003 20.1249 14.1003 22.7496 11.4756Z"
                                        fill="white"></path>
                                    <path
                                        class="text-warning"
                                        d="M13.2173 26.3746C14.0903 24.3107 15.2282 22.395 16.6119 20.6516C12.48 16.1818 6.56698 13.3827 0 13.3827V36H11.2733C11.2733 32.6628 11.9274 29.4243 13.2173 26.3746Z"
                                        fill="currentColor"></path>
                                    <path
                                        class="text-warning"
                                        d="M36.0001 36.0001V13.3828C23.5089 13.3828 13.3828 23.5089 13.3828 36.0001H36.0001Z"
                                        fill="currentColor"></path>
                                </svg>
                                <h3 class="h4" style="max-width: 180px;">
                                    Flexible work terms
                                </h3>
                                <p class="card-text fs-sm">
                                    Pharetra in morbi quis is massa maecenas
                                    arcu vulputate pulvinar elit non nullage a,
                                    duis tortor mi massa ipsum in eu eu eget
                                    libero.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex flex-column pt-4 mt-sm-3">
                        <!-- Card -->
                        <div class="card border-0 order-sm-2 mb-4 mb-sm-0">
                            <div class="card-body">
                                <svg
                                    class="d-block mb-3"
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        class="text-warning"
                                        d="M31.5412 14.6389C30.9843 23.6874 23.7303 30.927 14.6641 31.4828V35.9999H36.0671V14.6389H31.5412Z"
                                        fill="currentColor"></path>
                                    <path
                                        class="text-primary"
                                        d="M13.5469 27.0373C21.0277 27.0373 27.0922 20.9848 27.0922 13.5186H13.5469V27.0373Z"
                                        fill="currentColor"></path>
                                    <path
                                        class="text-warning"
                                        d="M26.3276 9.03734C24.475 3.77395 19.4522 0 13.5453 0C6.06443 0 0 6.0525 0 13.5187C0 19.4139 3.78139 24.4269 9.05514 26.2758V9.03734H26.3276Z"
                                        fill="currentColor"></path>
                                </svg>
                                <h3 class="h4" style="max-width: 180px;">
                                    Full spectrum of services
                                </h3>
                                <p class="card-text fs-sm">
                                    Pharetra in morbi quis is massa maecenas
                                    arcu vulputate pulvinar elit non nullage a,
                                    duis tortor mi massa ipsum in eu eu eget
                                    libero.
                                </p>
                            </div>
                        </div>

                        <!-- Card -->
                        <div
                            class="card border-0 bg-primary order-sm-1 mb-sm-4"
                            data-bs-theme="dark"
                        >
                            <div class="card-body">
                                <svg
                                    class="d-block mb-3"
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M22.4844 22.4814H36.0031V36.0001H22.4844V22.4814Z"
                                        fill="white"></path>
                                    <path
                                        class="text-warning"
                                        d="M8.96266 18C8.96266 13.0088 13.0088 8.96266 18 8.96266C22.9912 8.96266 27.0373 13.0088 27.0373 18H36C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36V27.0373C13.0088 27.0373 8.96266 22.9912 8.96266 18Z"
                                        fill="currentColor"></path>
                                </svg>
                                <h3 class="h4" style="max-width: 180px;">
                                    Impossible? We're on it
                                </h3>
                                <p class="card-text fs-sm">
                                    Pharetra in morbi quis is massa maecenas
                                    arcu vulputate pulvinar elit non nullage a,
                                    duis tortor mi massa ipsum in eu eu eget
                                    libero.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
