---
import { getEntry } from "astro:content";

const Data = await getEntry("home", "home");
const hero = Data.data.hero;

import Consultation_form from "../common/Consultation_form.astro";
---

<style>
    .hero-section {
        font-family: "arimo";
        padding: 8rem 0;
    }

    .hero-section * {
        z-index: 3;
    }
    .contact-div {
        padding: 0 !important;
    }

    .contact-form {
        font-family: "arimo";
        background-color: #121519 !important;
        border-radius: 1rem;
        box-shadow: 0px 2px 25px 0px #7b7b7b7a;
    }

    .card {
        form {
            padding: 2rem;
        }

        .card-title {
            font-size: 1.2rem;
            color: var(--ar-primary) !important;
        }

        .form-label {
            font-size: 0.8rem !important;
            color: var(--ar-primary) !important;
        }

        .form-control {
            border-radius: 0.5rem !important;
            /* font-size: 0.8rem; */
            line-height: 1 !important;
            /* width: 50%; */
        }

        .book-btn {
            background-color: var(--ar-primary);
            border-radius: 0.5rem;
            width: 100% !important;
        }
    }
</style>

<section class="hero-section">
    <div class="container position-relative">
        <div class="row pt-xl-3 pt-xxl-4 pb-5 gap-5 align-items-center">
            <div class="col col-xxl-6">
                <h1 class="text-center text-lg-start text-light fw-light">
                    {hero.title_part_1}
                    <br />
                    <p class="fw-bold">{hero.title_part_2}</p>
                </h1>
                <p
                    class="fs-lg text-center text-lg-start text-light pb-3 pb-sm-0 pb-md-2 mb-4 mb-sm-5"
                >
                    {hero.info}
                </p>
            </div>
            <div class="col contact-div offset-xxl-1 pt-sm-3">
                <!-- Contact form -->
                <div class="card contact-form border-0 py-4 px-xxl-4">
                    <Consultation_form />
                </div>
            </div>
        </div>
    </div>
</section>
