---
import { getEntry } from "astro:content";
import "../../styles/partners-home.css";

const Data = await getEntry("home", "home");
const partners = Data.data.partners;
---

<section class="partners" >
	<div class="container">
		<h2 class="partners-title">
			{partners.title}
		</h2>
		<div class="partners-grid">
			{partners.images.map((image) => (
				<img class="partner-logo" src={image.src} alt={image.name} />
			))}
		</div>
	</div>
</section>
