---

---

<style>
    .services {
        background-image: url(../../assets/images/background_pattern.png);
        background-repeat: no-repeat;
    }
</style>

<!-- services -->
<section class="services">
    <div class="container py-5 mt-5 mb-xl-3 mb-xxl-5">
        <div class="row pt-2">
            <!-- Text + CTA button -->
            <div
                class="col-lg-6 d-flex flex-column mb-4 mb-lg-0 pb-sm-3 pb-lg-0"
            >
                <h1
                    class="display-1 text-white text-uppercase fw-bold mt-auto mb-2"
                >
                    we design <span class="fw-normal"
                        >solutions <br /> to bring</span
                    > efficiency
                </h1>
                <div class="d-flex align-items-center py-4 py-lg-5">
                    <a
                        class="btn btn-lg rounded-1 me-2 me-sm-3"
                        style="background-color: #30baba;"
                        href="#">Let's work together</a
                    >
                </div>
                <div class="flex-shrink-sm-0">
                    <img
                        class="d-dark-mode-block"
                        src="src/assets/icons/rating.png"
                        width="200"
                        alt="Clutch"
                    />
                </div>
            </div>

            <!-- Services (Grid of cards) -->
            <div class="col-lg-6">
                <div class="row row-cols-1 row-cols-sm-2 g-1">
                    <!-- Card -->
                    <div class="col">
                        <a class="card-flip" href="#">
                            <div class="card-flip-inner">
                                <div
                                    class="card-flip-front"
                                    style="background-color: #020609;
                                        border-top-left-radius: 20px;
                                        border-bottom-right-radius: 10px;
                                        border: 2px solid #2FB7B8"
                                >
                                    <div
                                        class="d-flex flex-column h-100 gap-1"
                                        data-bs-theme="light"
                                    >
                                        <div
                                            class="flex-grow-1"
                                            style="background-image: url(src/assets/images/data_sci.png); 
                                                background-size: contain;
                                                background-position: center;
                                                background-repeat: no-repeat;"
                                        >
                                        </div>
                                        <h2
                                            class="fs-lg fw-bold text-white text-center mb-0 mt-auto"
                                        >
                                            Data Science
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-flip-back bg-secondary">
                                    <div
                                        class="d-flex flex-column h-100 px-sm-2 pt-sm-2 px-lg-0 pt-lg-0 px-xl-3 pt-xl-3"
                                    >
                                        <h3 class="h4">Data Science</h3>
                                        <p class="text-body mb-3">
                                            Data science helps mitigate business
                                            risks and drive business outcomes
                                            and innovations through smarter
                                            decisions. We build end-to-end data
                                            processing, modelling and machine
                                            learning pipelines in Python.
                                        </p>
                                        <div
                                            class="text-end pt-3 pt-sm-2 pt-xl-4 mt-auto me-sm-n2 me-lg-0 me-xl-n3"
                                        >
                                            <div
                                                class="btn btn-sm btn-icon btn-outline-primary rounded-circle"
                                            >
                                                <i class="ai-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card -->
                    <div class="col">
                        <a class="card-flip" href="#">
                            <div class="card-flip-inner">
                                <div
                                    class="card-flip-front"
                                    style="background-color: #2FB7B8;
                                        border-top-right-radius: 20px;
                                        border-bottom-left-radius: 10px;"
                                >
                                    <div
                                        class="d-flex flex-column h-100 gap-1"
                                        data-bs-theme="light"
                                    >
                                        <div
                                            class="flex-grow-1"
                                            style="background-image: url(src/assets/images/data_vis.png);
                                            background-size: contain;
                                            background-position: center;
                                            background-repeat: no-repeat;"
                                        >
                                        </div>
                                        <h2
                                            class="fs-lg fw-bold text-white text-center mb-0 mt-auto"
                                        >
                                            Data Visualisation
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-flip-back bg-secondary">
                                    <div
                                        class="d-flex flex-column h-100 px-sm-2 pt-sm-2 px-lg-0 pt-lg-0 px-xl-3 pt-xl-3"
                                    >
                                        <h3 class="h4">Data Visualisation</h3>
                                        <p class="text-body mb-3">
                                            Data Visualisation is story telling
                                            with a purpose. Data Visualisation
                                            is an art and we treat is such. We
                                            don't treat data visualisation as
                                            just a data problems, we understand
                                            that visuals are for humans.
                                        </p>
                                        <div
                                            class="text-end pt-3 pt-sm-2 pt-xl-4 mt-auto me-sm-n2 me-lg-0 me-xl-n3"
                                        >
                                            <div
                                                class="btn btn-sm btn-icon btn-outline-primary rounded-circle"
                                            >
                                                <i class="ai-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card -->
                    <div class="col order-sm-2">
                        <a class="card-flip" href="#">
                            <div class="card-flip-inner">
                                <div
                                    class="card-flip-front"
                                    style="background-color: #020609;
                                        border-top-left-radius: 10px;
                                        border-bottom-right-radius: 20px;
                                        border: 2px solid #2FB7B8"
                                >
                                    <div
                                        class="d-flex flex-column h-100 gap-1"
                                        data-bs-theme="light"
                                    >
                                        <div
                                            class="flex-grow-1"
                                            style="background-image: url(src/assets/images/data_devops.png);
                                                background-size: contain;
                                                background-position: center;
                                                background-repeat: no-repeat;"
                                        >
                                        </div>
                                        <h2
                                            class="fs-lg fw-bold text-white text-center mb-0 mt-auto"
                                        >
                                            Big Data Architecture
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-flip-back bg-secondary">
                                    <div
                                        class="d-flex flex-column h-100 px-sm-2 pt-sm-2 px-lg-0 pt-lg-0 px-xl-3 pt-xl-3"
                                    >
                                        <h3 class="h4">
                                            Big Data Architecture
                                        </h3>
                                        <p class="text-body mb-3">
                                            We specialize in crafting robust,
                                            fault-tolerant, and scalable Big
                                            Data solutions tailored to
                                            seamlessly integrate across
                                            departments and teams, providing a
                                            unified perspective on your data
                                            insights.
                                        </p>
                                        <div
                                            class="text-end pt-3 pt-sm-2 pt-xl-4 mt-auto me-sm-n2 me-lg-0 me-xl-n3"
                                        >
                                            <div
                                                class="btn btn-sm btn-icon btn-outline-primary rounded-circle"
                                            >
                                                <i class="ai-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card -->
                    <div class="col order-sm-1">
                        <a class="card-flip" href="#">
                            <div class="card-flip-inner">
                                <div
                                    class="card-flip-front"
                                    style="background-color: #2FB7B8;
                                        border-top-right-radius: 10px;
                                        border-bottom-left-radius: 20px;"
                                >
                                    <div
                                        class="d-flex flex-column h-100 gap-1"
                                        data-bs-theme="light"
                                    >
                                        <div
                                            class="flex-grow-1"
                                            style="background-image: url(src/assets/images/data_arch.png);
                                                background-size: contain;
                                                background-position: center;
                                                background-repeat: no-repeat;"
                                        >
                                        </div>
                                        <h2
                                            class="fs-lg fw-bold text-white text-center mb-0 mt-auto"
                                        >
                                            Big Data DevOps
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-flip-back bg-secondary">
                                    <div
                                        class="d-flex flex-column h-100 px-sm-2 pt-sm-2 px-lg-0 pt-lg-0 px-xl-3 pt-xl-3"
                                    >
                                        <h3 class="h4">Big Data DevOps</h3>
                                        <p class="text-body mb-3">
                                            The real challenge holding back
                                            production big data cloud
                                            deployments is the pervasive lack of
                                            DevOps skills for big data. We
                                            provide Fully-managed cloud services
                                            for big data and analytics.
                                        </p>
                                        <div
                                            class="text-end pt-3 pt-sm-2 pt-xl-4 mt-auto me-sm-n2 me-lg-0 me-xl-n3"
                                        >
                                            <div
                                                class="btn btn-sm btn-icon btn-outline-primary rounded-circle"
                                            >
                                                <i class="ai-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
