---

---

<style>
    .hero-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
    }
</style>

<main>
    <video
        class="hero-video"
        src="/assets/videos/dbo_bg_video10.mp4"
        preload
        muted
        autoplay
        loop
    >
    </video>
</main>
