---
import { getEntry } from "astro:content";

const Data = await getEntry("about", "about");
const benefits = Data.data.benefits;

---

<style>
  /* Removed min-height: 100vh to reduce spacing */
</style>

<section class="benefit d-flex align-items-center">
  <div class="container py-5 my-5">
    <div class="row align-items-center">
      <div class="col-md-6 col-xl-5 offset-xl-1 order-md-2 mb-5 mb-md-0">
        <h2 class="pb-2 pb-sm-3 pb-xl-4 text-white">{benefits.title}</h2>
        {
          benefits.points.map((point) => (
            <div class="d-flex pb-3 mb-2 mb-xl-3">
              <div class="text-body-secondary pt-1">{point.number}</div>
              <div class="ps-3">
                <h3 class="h5 text-white">{point.title}</h3>
                <p class="mb-0 text-white opacity-70">{point.desc}</p>
              </div>
            </div>
          ))
        }
      </div>
      <div class="col-md-6 order-md-1">
        <div
          class="mx-auto mx-md-0"
          style="width:100%; background-color:rgba(33, 37, 40, 1); border-radius:32px;
                  position:relative;  max-width:400px; aspect-ratio:1/1; overflow:hidden"
        >
          <img
            src="/assets/images/contact-us/svg1.svg"
            alt="We Love Data"
            style="position:absolute; bottom:5%; "
          />

          <img
            src="/assets/images/contact-us/svg2.svg"
            alt="We Love Data"
            style="position:absolute; bottom: 12%; left:15%;"
          />
        </div>
      </div>
    </div>
  </div>
</section>
