---
import { getEntry } from "astro:content";

const Data = await getEntry("about", "about");
const hero = Data.data.hero;
---

<style>
  .hero-section {
    padding: 8rem 0;
    height: 40rem;
    display: flex;
    align-items: end;
    flex-grow: 1;
  }

  .hero-section * {
    z-index: 3;
  }
</style>

<section class="hero-section">
  <section class="container position-relative">
    <div class="d-flex pt-xl-4 pt-xxl-4 pb-3 gap-5 align-items-center z-3">
      <h1 class="text-start text-lg-start text-light fw-bold">
        {hero.title}
      </h1>
    </div>
    <ul class="list-unstyled d-flex flex-wrap mb-0">
      {
        hero.features.map((feature) => (
          <li class="d-flex text-body text-white opacity-70 py-1 me-4">
            <i class="ai-check-alt text-primary lead me-2" />
            {feature}
          </li>
        ))
      }
    </ul>
  </section>
</section>
