---
import { getEntry } from "astro:content";

const Data = await getEntry("about", "about");
const mission = Data.data.mission;
---

<style>
    @media (min-width: 1024px) {
        .mission {
            min-height: 100vh;
        }
    }
</style>

<section class="mission d-flex align-items-center">
    <div class="container py-5 my-5">
        <article class="row align-items-center justify-content-center">
            <div class="col-md-5 col-8 order-md-2 d-flex offset-xl-2 offset-md-1 mb-5 mb-md-0">
                <img src={mission.img} alt="image" />
            </div>
            <div class="col-md-6 col-xl-5 order-md-1">
                <div class="fs-sm mb-2 text-white">DIGITAL BACK OFFICE</div>
                <h2 class="mb-4 text-white">
                    {mission.title}
                </h2>
                <p class="text-white opacity-70">
                    {mission.desc}
                </p>
            </div>
        </article>
    </div>
</section>
