---
---
<style>
    section {
        background-image: url(/assets/images/background_pattern.png);
        background-repeat: no-  repeat;
         margin-top:-25px;
    }
</style>
      <!-- Approach -->
      <section class="pt-5">
        <div class="container pt-2 pt-sm-4 pt-lg-5 mt-xxl-2">
          <div class="fs-sm text-uppercase mb-3 text-white">OUR VALUES</div>
          <h2 class="display-6 pb-3 mb-lg-4 text-white">Our Values </h2>
          <div class="swiper" data-swiper-options='
            {
              "spaceBetween": 24,
              "pagination": {
                "el": ".swiper-pagination",
                "clickable": true
              },
              "breakpoints": {
                "576": { "slidesPerView": 2 },
                "992": { "slidesPerView": 3 }
              }
            }
          '>
            <div class="swiper-wrapper">

              <!-- Item -->
              <div class="swiper-slide h-auto">
                <div class="card border-0 bg-secondary rounded-5 h-100 bg-transparent">
                  <div class="card-body">
                    <img src="../assets/images/about_us/icon_box_1.png" alt="Image" />
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto">
                <div class="card border-0 bg-secondary rounded-5 h-100 bg-transparent">
                  <div class="card-body">
                   <img src="../assets/images/about_us/icon_box_2.png" alt="Image" />
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto">
                <div class="card border-0 bg-secondary rounded-5 h-100 bg-transparent">
                  <div class="card-body">
                    <img src="../assets/images/about_us/icon_box_3.png" alt="Image" />
                    
                </div>
              </div>
            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-lg-none"></div>
          </div>
        </div>
      </section>