---
const {quote} = Astro.props;
---

<div class="card border-0 bg-secondary mb-3">
    <div class="card-body">
      <figure>
        <blockquote class="blockquote">
          <p>{quote}</p>
        </blockquote>
      </figure>
    </div>
  </div>