---

---

<footer
  class="footer py-5"
  data-bs-theme="dark"
  style="background-color: #000 !important;"
  data-pagefind-ignore
>
  <div class="container pt-md-2 pt-lg-3 pt-xl-4">
    <div class="row g-4 align-items-start pb-3 pt-2 mb-2">
      <div class="col-lg-4 col-md-5 col-sm-12 pb-2 pb-sm-0 mb-3 mb-sm-0">
        <a class="navbar-brand py-0 mb-3 mb-md-4" href="/">
          <img
            src="/assets/images/dbo 1.png"
            alt=""
            style="width: 110px; height: 50px;"
          />
        </a>
        <p class="fs-sm pb-2 pb-md-3 mb-3 text-white">
          We deliver business efficiency; We Love Data!
        </p>
        <div class="d-flex">
          <a
            class="btn btn-icon btn-sm btn-light btn-x rounded-circle me-3"
            href="https://x.com/Digital_B_O"
            aria-label="X"
            target="_blank"
            rel="noopener"
          >
            <i class="ai-x"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-light btn-linkedin rounded-circle me-3"
            href="https://www.linkedin.com/company/digital-back-office/"
            aria-label="Linkedin"
            target="_blank"
            rel="noopener"
          >
            <i class="ai-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 mb-3">
        <h6 class="text-white fw-semibold">Company</h6>
        <ul class="nav flex-column">
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/about-us">
              About
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/privacy-policy">
              Privacy policy
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/terms-of-use">
              Terms of Use
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/legal-slavery">
              Modern Slavery Statement
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-2 mb-3">
        <h6 class="text-white fw-semibold">Quick links</h6>
        <ul class="nav flex-column">
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/">
              Book 30 mins FREE Consultation
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/services">
              Services
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/contact-us">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-2 mb-3">
        <h6 class="text-white fw-semibold">Industries</h6>
        <ul class="nav flex-column">
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/industry/finance-and-insurance">
              Financial Services
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/industry/healthcare-life-sciences">
              Healthcare &amp; Life Sciences
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/industry/retail-and-e-commerce">
              Retail &amp; E-commerce
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/industry/industrials-manufacturing-and-energy">
              Industrials / Manufacturing / Energy
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/industry/technology-media-and-telecom">
              Technology / Media / Telecom
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-2 mb-3">
        <h6 class="text-white fw-semibold">Services</h6>
        <ul class="nav flex-column">
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/services/data-visualization">
              AI Solutions
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/services/big-data-architecture">
              Data Strategy
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/services/big-data-devops">
              Data Engineering
            </a>
          </li>
          <li>
            <a class="nav-link fw-normal py-1 px-0" href="/services/data-science">
              Data Science
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="nav fs-sm mb-0">
      <span class="d-flex" style="color: #858C97">
        &copy;
        <a
          class="nav-link fw-normal p-0 ms-1"
          href="/"
          target="_blank"
          rel="noopener"
        >
          Digital Back Office
        </a>
        &nbsp;All rights reserved.</span
      >
    </p>
  </div>
</footer>
