---

---

<footer
  class="footer py-5"
  data-bs-theme="dark"
  style="background-color: #000 !important;"
  data-pagefind-ignore
>
  <div class="container pt-md-2 pt-lg-3 pt-xl-4">
    <div class="row pb-5 pt-sm-2 mb-lg-2">
      <div class="col-sm-5 col-md-4 col-xl-3 pb-2 pb-sm-0 mb-4 mb-sm-0">
        <a class="navbar-brand py-0 mb-3 mb-md-4" href="/">
          <img
            src="/assets/images/dbo 1.png"
            alt=""
            style="width: 110px; height: 50px;"
          />
        </a>
        <p class="fs-sm pb-2 pb-md-3 mb-3 text-white">
          We deliver business efficiency; We Love Data!
        </p>
        <div class="d-flex">
          <a
            class="btn btn-icon btn-sm btn-light btn-x rounded-circle me-3"
            href="https://x.com/Digital_B_O"
            aria-label="X"
            target="_blank"
            rel="noopener"
          >
            <i class="ai-x"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-light btn-linkedin rounded-circle me-3"
            href="https://www.linkedin.com/company/digital-back-office/"
            aria-label="Linkedin"
            target="_blank"
            rel="noopener"
          >
            <i class="ai-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 offset-sm-1 offset-md-2 offset-xl-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2">
          <div class="col mb-4 mb-md-0">
            <ul class="nav flex-column">
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/about-us">
                  About
                </a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/privacy-policy">
                  Privacy policy
                </a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/terms-of-use">
                  Terms of Use
                </a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/legal-slavery">
                  Modern Slavery Statement
                </a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav flex-column">
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/">
                  Book 30 mins FREE Consultation
                </a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/services">
                  Services
                </a>
              </li>
              <li>
                <a class="nav-link fw-normal py-1 px-0" href="/contact-us">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="nav fs-sm mb-0">
      <span class="d-flex" style="color: #858C97">
        &copy;
        <a
          class="nav-link fw-normal p-0 ms-1"
          href="/"
          target="_blank"
          rel="noopener"
        >
          Digital Back Office
        </a>
        &nbsp;All rights reserved.</span
      >
    </p>
  </div>
</footer>
