---
const path = Astro.url.pathname;
// import brandLogo from "/assets/images/dbo 1.png";
// import { Image } from "astro:assets";
---

<style>
  .brand-logo {
    width: auto;
    height: 4.2rem;
  }
  .nav-link {
    color: #fff;
  }

  #contact-button {
    border-radius: 7px;
    padding: 0.5rem 1.5rem !important;
    font-size: 3.375rem !important;
  }

  .primary-button {
    background-color: var(--ar-primary) !important;
    color: white !important;
  }

  .navbar-scrolled {
    background-image: url(/assets/images/background-pattern.png);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .staticnav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  #navbar {
    transition: background-color 0.4s ease-in-out;
    z-index: 50;
  }

  .nav-links {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .active-link{
    color:#52CEC7;
  }
</style>

<header
  id="navbar"
  class="staticnav nav navbar navbar-expand-lg"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="text-primary flex-shrink-0 me-2">
        <img src="/assets/images/dbo 1.png" alt="DBO logo" class="brand-logo" />
      </span>
    </a>

    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse2"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a
      id="contact-button"
      href="/contact-us"
      class={path === "/contact-us"
        ? "btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none"
        : path === "/about-us"
          ? "primary-button btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none d-lg-inline-flex"
          : "btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none d-lg-inline-flex"}
    >
      <span style="font-size: 1.375rem;">Contact us</span>
    </a>

    <nav class="collapse navbar-collapse bg-black" id="navbarCollapse2">
      <ul class="navbar-nav">
        <li class={path === "/" ? "nav-item active" : "nav-item"}>
          <a href="/" class="nav-link nav-links">Home</a>
        </li>
        <li class={path === "/about-us" ? "nav-item active" : "nav-item"}>
          <a href="/about-us" class="nav-link nav-links">About us</a>
        </li>

        <li class="nav-item dropdown">
          <a
            href="/services"
            class={path.includes("services")?"nav-link  nav-links active-link":"nav-link nav-links"}
            data-bs-auto-close="outside"
            aria-expanded="false">Services</a
          >
          <ul class="dropdown-menu">
            <li>
              <a
                href="/services/big-data-architecture"
                class="dropdown-item nav-links">Big Data Architecture</a>
            </li>
            <li>
              <a
                href="/services/big-data-devops"
                class="dropdown-item nav-links">Big Data DevOps</a>
            </li>
            <li>
              <a href="/services/data-science" class="dropdown-item nav-links"
                >Data Science</a>
            </li>
            <li>
              <a
                href="/services/data-visualization"
                class="dropdown-item nav-links">Data Visualization</a>
            </li>
          </ul>
        </li>
        <li class={path === "/blog" ? "nav-item active" : "nav-item"}>
          <a href="/blog" class="nav-link nav-links">Blog</a>
        </li>
      </ul>

      <a
        href="/contact-us"
        class={path === "/contact-us"
          ? "d-none btn btn-outline-primary btn-sm fs-sm d-lg-none ms-3 mb-4 mb-lg-0 contact-button"
          : "btn btn-outline-primary btn-sm fs-sm d-lg-none ms-3 mb-4 mb-lg-0 contact-button"}
      >
        <span style="font-size: 1.375rem;">Contact us</span>
      </a>
    </nav>
  </div>
</header>
