---
import '../../styles/global.css'
const path = Astro.url.pathname;
---


<header
  id="navbar"
  class="staticnav nav navbar navbar-expand-lg"
  data-bs-theme="dark"
  data-pagefind-ignore
>
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="text-primary flex-shrink-0 me-2">
        <img src="/assets/images/dbo_1.png" alt="DBO logo" class="brand-logo" />
      </span>
    </a>

    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse2"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a
      id="contact-button"
      href="/contact-us"
      class={path === "/contact-us"
        ? "btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none"
        : path === "/about-us"
          ? "primary-button btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none d-lg-inline-flex"
          : "btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none d-lg-inline-flex"}
    >
      <span style="font-size: 1.375rem;">Contact us</span>
    </a>

    <nav class="collapse navbar-collapse bg-black" id="navbarCollapse2">
      <ul class="navbar-nav">
        <li class={path.includes("/industry") ? "nav-item dropdown active" : "nav-item dropdown"}>
          <a
            href="#"
            class={path.includes("/industry")?"nav-link nav-links active-link":"nav-link nav-links"}
            aria-expanded="false"
          >Industries</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/industry/finance-and-insurance" class="dropdown-item nav-links">Finance</a>
            </li>
            <li>
              <a href="/industry/healthcare-life-sciences" class="dropdown-item nav-links">Healthcare</a>
            </li>
            <li>
              <a href="/industry/retail-and-e-commerce" class="dropdown-item nav-links">Retail</a>
            </li>
            <!--li>
              <a href="/industry/industrials-manufacturing-and-energy" class="dropdown-item nav-links">Energy</a>
            </li-->
            <li>
              <a href="/industry/technology-media-and-telecom" class="dropdown-item nav-links">Media</a>
            </li>
             <li>
              <a href="/industry/startups" class="dropdown-item nav-links">Startups</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class={path.includes("/services")?"nav-link  nav-links active-link":"nav-link nav-links"}
            data-bs-auto-close="outside"
            aria-expanded="false">Services</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/services/ai-solutions" class="dropdown-item nav-links">AI Transformation</a>
            </li>
            <li>
              <a href="/services/data-strategy-services" class="dropdown-item nav-links">Data Strategy</a>
            </li>
            <li>
              <a href="/services/data-engineering-services" class="dropdown-item nav-links">Data Engineering</a>
            </li>
            <li>
              <a href="/services/data-science" class="dropdown-item nav-links">Data Science</a>
            </li>
          </ul>
        </li>

        <li class={path.includes("/about-us") ? "nav-item active" : "nav-item"}>
          <a href="/about-us" class="nav-link nav-links">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class={(path.includes("/blog") || path.includes("/events") || path.includes("/partners") || path.includes("/industry-insights"))?"nav-link  nav-links active-link":"nav-link nav-links"}
            data-bs-auto-close="outside"
            aria-expanded="false">Resources</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/blog/1" class="dropdown-item nav-links">Blogs</a>
            </li>
            <li>
              <a href="/industry-insights" class="dropdown-item nav-links">Industry Insights</a>
            </li>
            <!-- <li>
              <a href="#" class="dropdown-item nav-links">Events</a>
            </li>
            <li>
              <a href="/partners" class="dropdown-item nav-links">Partners</a>
            </li> -->
          </ul>
        </li>
      </ul>

      <a
        href="/contact-us"
        class={path.includes("/contact-us")
          ? "d-none btn btn-outline-primary btn-sm fs-sm d-lg-none ms-3 mb-4 mb-lg-0 contact-button"
          : "btn btn-outline-primary btn-sm fs-sm d-lg-none ms-3 mb-4 mb-lg-0 contact-button"}
      >
        <span style="font-size: 1.375rem;">Contact us</span>
      </a>
    </nav>
  </div>

  <div class="pop-up" id="pop-up" data-pagefind-ignore>
    <div class="pop-up-text">
        Form Submitted Successfully!!
    </div>
  </div>
</header>
