---
import Footer from "../components/common/Footer.astro"
import "/assets/css/theme.min.css";
import "/assets/icons/around-icons.min.css";
import "flatpickr/dist/flatpickr.min.css";
// import "swiper/swiper-bundle.min.css";
import "aos/dist/aos.css";
import "../styles/global.css"

export interface Props {
    title?: string;
    description?: string;
}

const {
    title = "Digital Back Office",
    description = "We deliver Business Efficiency; We love data!",
} = Astro.props;
---

<script src="/assets/js/theme.min.js" is:inline></script>

<script src="aos/dist/aos.js"></script>
<script src="parallax-js/dist/parallax.min.js"></script>
<script src="flatpickr/dist/flatpickr.min.js"></script>
<script src="imagesloaded/imagesloaded.pkgd.min.js"></script>
<!-- <script src="shufflejs/dist/shuffle.min.js"></script> -->
<script src="jarallax/dist/jarallax.min.js"></script>
<script src="parallax-js/dist/parallax.min.js"></script>
<!-- <script src="swiper/swiper-bundle.min.js"></script> -->
<script src="lightgallery/lightgallery.min.js"></script>
<script src="lightgallery/plugins/video/lg-video.min.js"></script>
<script src="imagesloaded/imagesloaded.pkgd.min.js"></script>
<script>
    import flatpickr from "flatpickr";
    import Parallax from 'parallax-js'
    import AOS from "aos";
    import Shuffle from "shufflejs";
    import Swiper from "swiper/bundle";
    import "swiper/css/navigation";
    import "swiper/css/pagination";
    import "swiper/css/bundle";

    AOS.init();
    
    flatpickr(".date-picker");

    var scene = document.querySelector('.parallax');
    var parallaxInstance = new Parallax(scene);

    const carousels = Array.from(document.querySelectorAll(".swiper"));

    carousels.forEach((value, index) => {
        let options;
        if (value.dataset.swiperOptions != undefined)
            options = JSON.parse(value.dataset.swiperOptions);

        // Thumbnails
        if (options.thumbnails) {
            let images = options.thumbnails.images;
            options = Object.assign({}, options, {
                pagination: {
                    el: options.thumbnails.el,
                    clickable: true,
                    bulletActiveClass: "active",
                    renderBullet: (index, className) => {
                        return `<li class='swiper-thumbnail ${className}'>
                <img src='${images[index]}' alt='Thumbnail'>
                </li>`;
                    },
                },
            });
        }

        const swiper = new Swiper(value, options); // eslint-disable-line no-undef

        // Controlled slider
        if (options.controlledSlider) {
            const controlledSlider = document.querySelector(
                options.controlledSlider,
            );
            let controlledSliderOptions;

            if (controlledSlider.dataset.swiperOptions != undefined)
                controlledSliderOptions = JSON.parse(
                    controlledSlider.dataset.swiperOptions,
                );
            /* eslint-disable no-undef */
            const swiperControlled = new Swiper(
                controlledSlider,
                controlledSliderOptions,
            );
            /* eslint-enable no-undef */
            swiper.controller.control = swiperControlled;
        }

        // Binded content
        if (options.bindedContent) {
            swiper.on("activeIndexChange", (e) => {
                const targetItem = document.querySelector(
                    e.slides[e.activeIndex].dataset.swiperBinded,
                );
                const previousItem = document.querySelector(
                    e.slides[e.previousIndex].dataset.swiperBinded,
                );

                previousItem.classList.remove("active");
                targetItem.classList.add("active");
            });
        }
    });
</script>

<script>
    const nav = document.getElementById("navbar");
    window.addEventListener('scroll', ()=>{
        
        if (window.scrollY>40){
            nav?.classList.remove("staticnav")
            nav?.classList.add("navbar-scrolled");
        }else{
            nav?.classList.add("staticnav")
            nav?.classList.remove("navbar-scrolled");
        }
    })
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body style="background-color: black;">
        <slot />
        <Footer />
    </body>
</html>
