---
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'
import '../assets/css/theme.min.css'
import "../assets/vendor/flatpickr/dist/flatpickr.min.css"

export interface Props {
    title?: string,
    description?: string,
}

const {
    title = 'Digital Back Office',
    description = 'We deliver Business Efficiency; We love data!',

} = Astro.props;
---

<style is:global>
    @font-face {
		font-family: "arimo";
		src: url("/src/assets/fonts/Arimo/static/Arimo-Regular.ttf");
	}

	@font-face {
		font-family: "archivo";
		src: url("/src/assets/fonts/Archivo/Archivo-Regular.ttf");
	}
    /* body {
        padding: 0 10rem;
    } */
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>{title}</title>
</head>
<body>
    <!-- <Main /> -->
    <!-- <Header /> -->
    <slot />
    <script src="../assets/js/theme.min.js"></script>
    <script src="../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>

</body>
</html>