---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/common/Navbar.astro';

const pageTitle = "Retail and E-commerce";
const pageDescription = "Digital Back Office solutions for Retail and E-commerce industry";
---

<Layout title={pageTitle} description={pageDescription}>
    <Navbar />
    <main>
        <section class="container py-5">
            <div class="row">
                <div class="col-12">
                    <h1>{pageTitle}</h1>
                </div>
            </div>
        </section>
    </main>
</Layout>
